$primary-color: #ef3f43;
$back-color: #f6f9fc;
$white: #fff;
$neutral-n600: #1c283b;
$neutral-n400: #5a6b80;
$neutral-n200: #e9ebed;
$red-r100: #fbefef;
$green-g100: #e5f9f0;
$shadow-color: rgba(0,0,0,0.2);
