/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';
@import '~bootstrap/dist/css/bootstrap.css';
@import "./assets/style/base";
@import "./assets/style/variables";
@import "./assets/style/mixins";
@import "./assets/style/backgrounds";

html,
body {
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

dewan-loader {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

dewan-button {
  @include for-phone-only {
    width: 100%;
  }
}

.pointer {
  cursor: pointer;
}

.shadow-on-hover {
  &:hover {
    box-shadow: 0 0 1rem 0 $shadow-color;
    border-radius: 100%;
  }
}

.card {
  border-radius: 1.5rem;
}

